@model List<NanaProject.ViewModels.AccountCreateEditViewModel>

@{
    ViewData["Title"] = "Roles List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="container table table-zebra">
    <thead>
        <tr>
            <th></th>
            <th>User Name</th>
            <th>Phone</th>
            <th>Role</th>
            <th></th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @item.UserName
                </td>
                <td>@item.PhoneNumber</td>
                <td>
                    @foreach (var role in item.RoleNames)
                    {
                        <span>@role</span>
                    }
                </td>
                <td>
                    @* <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">
                <i class="fa fa-trash" aria-hidden="true"></i>
                </a> *@
                </td>
                <td>
                    <div class="flex gap-3">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" asp-area="Admin"
                            onsubmit="return confirm('Are you sure to delete category @Html.DisplayFor(modelItem => item.UserName) !!!???')">
                            <button class="btn btn-error shadow">Delete</button>
                        </form>
                    </div>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
