@model IEnumerable<NanaProject.Models.Species>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-5xl font-bold text-yellow-400 text-center mt-20">Species List</h1>
<p class="container">
    <a class="btn btn-primary mb-20 ml-28" asp-area="Admin" asp-action="Create">Add Species</a>
</p>
<div class="container overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th></th>
                <th>
                    ID
                </th>
                <th>
                    Species Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecDescription)
                    </td>
                    <td>
                        <div class="flex gap-3">
                            <a class="btn btn-warning shadow" asp-area="Admin" asp-action="Edit"
                                asp-route-id="@item.SpecId">Update</a>
                            <form asp-action="Delete" asp-route-id="@item.SpecId" asp-area="Admin"
                                onsubmit="return confirm('Are you sure to delete category @Html.DisplayFor(modelItem => item.SpecName) !!!???')">
                                <button class="btn btn-error shadow">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
