@model NanaProject.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row gap-20">
        <img src="@Html.DisplayFor(model => model.Photo)" class="max-w-2xl rounded-lg shadow-2xl aspect-[16/10] object-cover" />
        <div>
            <h1 class="text-5xl font-bold py-6">Pet "@Html.DisplayFor(model => model.Name)"</h1>
            <p class="text-xl py-2"><span class="font-bold">ID: 
                </span>@Html.DisplayFor(model => model.Id)</p>
            <p class="text-xl py-2"><span class="font-bold">Species: 
                </span>@Html.DisplayFor(model => model.TypeId)</p>
            <p class="text-xl py-2"><span class="font-bold">Age: </span>@Html.DisplayFor(model
                => model.Old) years old</p>
            <p class="text-xl py-2"><span class="font-bold">Time Adopted: 
                </span>@Html.DisplayFor(model => model.CheckIn)</p>
            <p class="text-xl py-2"><span class="font-bold">Time PickUp: 
                </span>@Html.DisplayFor(model => model.CheckOut)</p>
            <p class="text-xl py-2"><span class="font-bold">@Html.DisplayNameFor(model => model.Description):
                </span>@Html.DisplayFor(model => model.Description)</p>
            <a asp-area="Staff" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Update</a>
            <a asp-area="Staff" asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>

