@model NanaProject.Models.Food

@{
    ViewData["Title"] = "Details";
}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row gap-20">
        <img src="@Html.DisplayFor(model => model.FoodPhoto)" class="max-w-3xl aspect-[4/2] object-contain"/>
        <div>
            <h1 class="text-5xl font-bold py-6">Supply "@Html.DisplayFor(model => model.FoodName)"</h1>
            <p class="text-xl py-2"><span class="font-bold">ID: 
                </span>@Html.DisplayFor(model => model.FoodId)</p>
            <p class="text-xl py-2"><span class="font-bold">Category:  
                </span>@Html.DisplayFor(model => model.CateId)</p>
            <p class="text-xl py-2"><span class="font-bold">Quantity: </span>@Html.DisplayFor(model
                => model.Quantity) Box</p>
            <p class="text-xl py-2"><span class="font-bold">Status: 
                </span>@Html.DisplayFor(model => model.Status)</p>
            <p class="text-xl py-2"><span class="font-bold">Description:
                </span>@Html.DisplayFor(model => model.FoodDescription)</p>
            <a asp-action="Edit" asp-route-id="@Model?.FoodId" class="btn btn-warning">Update</a>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>
