@model IEnumerable<NanaProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-5xl font-bold text-yellow-400 text-center mt-20">Categories List</h1>
<div class="flex justify-evenly my-20">
    <p>
        <a class="btn btn-primary" asp-area="Admin" asp-action="Create">Add Category</a>
    </p>
    <form asp-area="Admin" asp-action="Search" class="flex gap-2">
        <div class="form-group">
            <input type="text" name="key" placeholder="Search Here...."
                class="input input-bordered input-warning w-full max-w-xs" />
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </form>

</div>
<div class="container overflow-x-auto">
    <table class="table table-zebra">
        <thead>
            <tr>
                <th></th>
                <th>
                    ID
                </th>
                <th>
                    Category Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CateDescription)
                    </td>
                    <td>
                        <div class="flex gap-3">
                            <a class="btn btn-warning shadow" asp-area="Admin" asp-action="Edit"
                                asp-route-id="@item.CateId">Update</a>
                            <form asp-action="Delete" asp-route-id="@item.CateId" asp-area="Admin"
                                onsubmit="return confirm('Are you sure to delete category @Html.DisplayFor(modelItem => item.CateName) !!!???')">
                                <button class="btn btn-error shadow">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
